///changes starts here
.companyRow{
  display: flex;
  border: 1px solid black;
  border-radius: 5px;
  justify-content: space-between;
  }
  .card__wrapper{
    width: 80%;
    display: flex;
    justify-content: space-around;
    border: 1px solid black;
  }
  ///stop