///changes starts here
.companyRow{
  display: flex;
  border: 1px solid black;
  border-radius: 5px;
  justify-content: space-between;
  }
  .card__wrapper{
    width: 80%;
    display: flex;
    justify-content: space-around;
    border: 1px solid black;
  }
  .simpleCardBtn{
      border-radius: 10px;
      border:5px solid rgba(255, 123, 163, 0.979);
      background-color: rgba(246, 246, 246, 0.979);
  }
  ///stop