///changes starts here
.companyRow{
  display: flex;
  border-radius: 5px;
  margin-top: 2rem;
  margin-bottom: 2rem;
  }
  .card__wrapper{
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    margin-right: 20rem;
  }
  .simpleCardBtn{
      border-radius: 10px;
      border:5px solid $pink;
      background-color: rgba(246, 246, 246, 0.979);
      width: 75%;
      padding:10px;
  }
  ///stop


  .companyCol{
    width: 15rem;
    margin-left: 2rem;
  }
  
  .cardCol{
    width: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .simpleCard{
    display: flex;
    justify-content: center;
  }