
#navBar{
  background-color: #48c76a;
  display: flex;
  list-style-type: none;
  text-decoration: none;
}
.nav-item{
  margin: 30px;
}

a{
  color: #c78548;
  text-decoration:none;
}

a:hover{
  color: white;
}
  