@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

#navBar{
  background-color: $lighter-blue;
  display: flex;
  list-style-type: none;
  text-decoration: none;
}
.nav-item{
  margin: 30px;
}

a{
  color: $darker-blue;
  text-decoration:none;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
}

a:hover{
  color: $pink;
}
  