@import 'variables';
@import 'NavBar';
@import 'Login';
@import 'feedCard';
@import 'CompanyRow';
@import 'userContainer';
@import 'DetailCard';

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');



*{
    margin:0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
  }

