.userContainer{
  border: 1px solid white;
  margin-top: 3%;
}
.columnHeaders{
  display:flex;
  
}
.addCompanyBtn{
  margin-left: 3rem;
  margin-top: 3rem;
  padding: 15px;
  border-radius: 5px;
  background-color: $lighter-blue;
}

.addCompany{
  display: flex;
  flex-direction: column;
  border: 1px solid white;
  align-items: center;
  padding: 50px;
}
.addCompany > label{
  margin: 20px;
  font-weight: bold;
}

.addCompany > input {
  width: 90%;
  padding: 10px;
}

.submitCompanyBtn{
  padding: 5px;
  width: 30%;
  margin-top: 15px;
}

.popup{
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #f1f1f1;
  border-radius: 15px;
  width: 30%;
  background-color: $pink;
}

.header{
  text-align: center;
  width: 33%;

}

.spacing{
  width: 17rem;
}

.details{
  text-align: center;
  width: 18%;
}

#test{
  display: flex;
  width: 80%;
  justify-content: space-evenly;
  
}

.openAddCard{
  background-color: $lighter-blue;
  padding: 10px;
  border-radius: 7px;
}

.white{
  color:#e0f5ff;
  margin: .5rem;
}

.addCard2{
  display: flex;
  flex-direction: column;
  padding: 20px;
  align-items: center;
}

.addCard2 > label{
  margin: 1rem;
}

.addCard2 > input{
  padding: 10px;
  border-radius: 0.5rem;
  margin-bottom: 10px;
  width: 80%;
  
}

.addCard2 > button{
  width: 30%;
  margin-top: 1rem;
  padding: 7px;
  border-radius: 5px;
}

